html,body {
    height: 100vh;
    background-color: black;
    font-family: 'Flamenco', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.span{
    animation: spaneat 1s infinite;
}
@keyframes spaneat{
    0%{color: crimson}
    20%{color: #bf55ec}
    50%{color: #fff}
    100%{color: purple}
}
img {
    height: 300px;
    width: 300px;
    border: 2px solid #fff;
}

.btn {
    margin: 20px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    margin-left: 45%;
}

.btn:hover {
    cursor: pointer;
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background-color:bisque;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(255,255,255, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255,255, 0.57);
    transition: all 0.3s ease 0s;
}
